.foodDetails {
  width: 82%;
  min-height: 88vh;
  z-index: 8;
  border-radius: 0px 40px 0px 0px;
  flex-wrap: wrap;
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
  min-height: 88vh;

    .food-menu-header {
    }
  
}
