.food-menu {
  width: 82%;
  min-height: 88vh;
  z-index: 8;
  border-radius: 0px 40px 0px 0px;
  flex-wrap: wrap;
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
  min-height: 88vh;
  .food-menu-container {
    .food-menu-header {
      .search-bar {
        width: 63%;
        input {
          &::placeholder-shown {
            font-size: 14px;
            color: rgb(182, 182, 182);
          }
        }
      }
      .view {
        width: 20%;
      }
    }
    .food-menu-card-container {
      > div {
        min-width: 31.33%;
        transition: 0.15s;
        margin-bottom: 2.5%;
        .food-menu-card {
          width: 100%;

          > div {
            transition: 0.25s;
          }
        }
      }
    }
  }
  .navigator {
    .number {
      span {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 5px;
        transition: 0.3s;
        &:hover {
          background: #fc8019;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 1120px) {
  .food-menu {
    width: 75%;
  }
}
@media (max-width: 1040px) {
  .food-menu {
    .food-menu-container {
      .food-menu-card-container {
        > div {
          min-width: 48%;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .food-menu {
    .food-menu-container {
      .search-bar {
        width: 100% !important;
      }
      .view{
        width: 100%;
      }
      .food-menu-card-container {
        > div {
          min-width: 100%;
        }
      }
    }
  }
}
